html {
  color: #394251;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


ul {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
}

ul li {
  list-style-type: disc;
}
